.advantages {
	padding-top: 40px;
}

.advantages__slogan {
	margin: 0;
	margin-bottom: 26px;
	font-family: $opensanslight;
	font-size: 24px;
}

.advantages__container {
	margin-top: -30px;
	background: #f2f2f2 url('../img/bg-triangle-white.svg') center top no-repeat;
}

.advantages__hello {
	display: none;
}

.advantages__list {
	@include ul;
	padding-top: 116px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 31px;
}

.advantages__img {
	order: 1;
	margin-top: 40px;
	height: 278px;
	overflow: hidden;
}

.advantages__title {
	margin: 0;
	margin-bottom: 12px;
	font-family: $opensansbold;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}

.advantages__desc {
	margin: 0;
	line-height: 24px;
}


@media (min-width: 660px) {

	.advantages {
		padding-top: 49px;
	}

	.advantages__slogan {
		margin-bottom: 0;
		font-size: 40px;
		line-height: 48px;
	}

	.advantages__container {
		display: flex;
		margin-top: 26px;
	}

	.advantages__hello {
		display: block;
		flex-shrink: 0;
		margin-right: 42px;
		padding-top: 25px;
		height: 506px;
		overflow: hidden;

		img {
			display: block;
		}
	}

	.advantages__list {
		width: 100%;
		text-align: left;
		padding-top: 95px;
	}

	.advantages__item {
		margin-bottom: 34px;
	}

	.advantages__img {
		display: none;
	}
}
