.advantages {
	padding-top: 40px;
}

.advantages__slogan {
	margin: 0;
	margin-bottom: 26px;
	font-family: $opensanslight;
	font-size: 24px;
}

.advantages__container {
	margin-top: -30px;
	background: #f2f2f2 url('../img/bg-triangle-white.svg') center top no-repeat;
}

.advantages__hello {
	display: none;
}

.advantages__list {
	@include ul;
	padding-top: 116px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 31px;
}

.advantages__image {
	display: none;
}

.advantages__image--friends {
	display: block;
	order: 1;
	margin-top: 40px;
	height: 278px;
	overflow: hidden;
}

.advantages__desktop-img {
	display: none;
}

.advantages__title {
	margin: 0;
	margin-bottom: 12px;
	font-family: $opensansbold;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}

.advantages__desc {
	margin: 0;
	line-height: 24px;
}


@media (min-width: 660px) {
	.advantages {
		padding-top: 49px;
	}

	.advantages__slogan {
		margin-bottom: 0;
		font-size: 40px;
		line-height: 48px;
	}

	.advantages__container {
		display: flex;
		margin-top: 26px;
	}

	.advantages__hello {
		display: block;
		flex-shrink: 0;
		margin-right: 42px;
		padding-top: 25px;
		height: 506px;
		overflow: hidden;

		img {
			display: block;
		}
	}

	.advantages__list {
		width: 100%;
		text-align: left;
		padding-top: 95px;
	}

	.advantages__item {
		margin-bottom: 34px;
	}

	.advantages__image {
		display: none;
	}
}

@media (min-width: 960px) {
	.advantages {
		padding-top: 66px;
	}
	.advantages__slogan {
		font-size: 50px;
		line-height: 60px;
	}

	.advantages__container {
		margin-top: 76px;
	}

	.advantages__container.container {
		padding: 0 10px;
	}

	.advantages__hello {
		display: none;
	}

	.advantages__list {
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding-top: 0;
	}

	.advantages__item {
		width: 294px;
	}

	.advantages__image {
		display: block;
		order: 0;
		width: 100%;
		height: 300px;
		margin: 0 auto 57px;
		overflow: hidden;

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// 	width: 300px;
		// 	height: 17px;
		// 	background: url(../img/iphone-shadow.png) center no-repeat;
		// 	background-size: cover;
		// 	z-index: 10;
		// }
	}

	.advantages__desktop-img {
		display: block;
	}

	.advantages__mobile-img {
		display: none;
	}

	.advantages__text-wrapper {
		margin: 0 auto;
		width: 240px;
	}

	.advantages__title {
		margin-bottom: 24px;
		font-size: 30px;
		line-height: 30px;
	}

	.advantages__desc {
		font-size: 18px;
		line-height: 30px;
	}
}
