.article {
	text-align: left;
}

.article--panorama {
	margin-bottom: 20px;
}

.article--all {
	margin-bottom: 20px;
}

.article__photo .container {
	position: relative;
}

.article__img {
	display: block;
	margin: 0 auto;
}

.article__photo-panorama {
	position: absolute;
	top: 0;
	right: 20px;
	margin: 0;
	padding: 6px 20px;
	font-family: $opensansbold;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: #d22856;
}

.article__desc {
	margin: 0;
	padding: 19px 18px 20px;
	background-color: #f2f2f2;
}

.article__name-time {
	margin: 0;
	line-height: 22px;
}

.article__author-name {
	font-family: $opensansbold;
	font-style: normal;
}

.article__time {
	font-family: $opensanslight;
	font-size: 12px;
	text-transform: uppercase;
}

.article__author-text {
	margin: 0;
	margin-bottom: 10px;
	line-height: 24px;
}

.article__like {
	position: relative;
	margin: 0;
	padding-left:32px;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #d22856;

	&::before {
		content: url(../img/icon-heart.svg);
		position: absolute;
		top: 1px;
		left: 0;
		width: 13px;
		height: 12px;
	}
}

@media (min-width: 660px) {
	.article--panorama {
		margin-bottom: 50px;

		.article__photo-panorama {
			top: 57px;
		}

		.article__desc {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 24px 28px 15px;
		}

		.article__author-text {
			order: 1;
		}

		.article__like {
			padding-left: 0;
			padding-right: 32px;
		}

		.article__like::before {
			left: auto;
			right: 0;
		}
	}


	.article--all {
		display: flex;
		flex-direction: column;
		margin: 0 10px 20px;
		width: 300px;

		.article__desc {
			flex-grow: 1;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding: 25px 32px 15px 28px;
		}

		.article__author-text {
			margin-bottom: 13px;
		}

		.article__like {
			margin-top: auto;
			margin-bottom: 7px;
			padding-left: 0;
		}

		.article__like::before {
			left: auto;
			right: 0;
		}
	}
}

@media (min-width: 720px) {
	.article__photo-panorama {
		right: 80px;
	}
}

@media (min-width: 820px) {
	.article__photo-panorama {
		right: 140px;
	}
}

@media (min-width: 960px) {
	.article__photo-panorama {
		right: 10px;
	}

	.article--all {
		margin-bottom: 54px;
	}
}
