.copyright {
	display: flex;
	justify-content: center;
}

.copyright__text {
	margin: 0;
	margin-right: 15px;
}

.copyright__link {

	&:hover svg,
	&:focus svg {
		fill: #283645;
	}

	&:active {
		opacity: .3;
	}
}
