.copyright {
	display: flex;
	justify-content: center;
}

.copyright__text {
	margin: 0;
	margin-right: 15px;
}

.copyright__link {

	&:hover svg,
	&:focus svg {
		fill: #283645;
	}

	&:active {
		opacity: .3;
	}
}

@media (min-width: 960px) {
	.copyright__text {
		font-size: 18px;
		line-height: 26px;
	}
}
