.download {
	color: #fff;
	background-color: #1d2631;
}

.download .container {
	width: 280px;
	padding: 28px 0 28px;
	margin: 0 auto;
}

.download__desktop-link {
	margin-bottom: 31px;
}

.download__list {
	@include ul;
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
}

.download__item {
	margin: 0 auto;
}

.download__item--android {
	margin: 0;
}

.download__desc {
	margin: 0;
	margin-bottom: 2px;
	font-family: $opensanslight;
	line-height: 24px;
}

@media (min-width: 660px) {
	.download {
		position: absolute;
		top: 350px;
		left: 20px;
		background-color: transparent;
		transition: top .25s;
	}

	.download .container {

		width: 300px;
	}

	.download__desktop-link {
		margin-bottom: 40px;
	}

	.download__list {
		margin-bottom: 30px;
		padding-right: 20px;
	}

	.download__desc {
		font-size: 18px;
	}
}

@media (min-width: 960px) {
	.download {
		top: 422px;
		right: 0;
		overflow-x: hidden;
	}

	.download .container {
		width: 960px;
	}

	.download__desktop-link,
	.download__list,
	.download__desc {
		width: 300px;
	}

	.download__desktop-link {
		display: block;
		margin-bottom: 63px;
	}

	.download__list {
		margin-bottom: 48px;
	}
}
