.download {
	color: #fff;
	background-color: #1d2631;
}

.download__wrapper {
	width: 280px;
	padding: 28px 0 28px;
	margin: 0 auto;
}

.download__desktop-link {
	margin-bottom: 31px;
}

.download__list {
	@include ul;
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
}

.download__item {
	margin: 0 auto;
}

.download__item--android {
	margin: 0;
}

.download__desc {
	margin: 0;
	margin-bottom: 2px;
	font-family: $opensanslight;
	line-height: 24px;
}
