.effect {
	display: none;
}

@media (min-width: 660px) {
	.effect {
		display: block;
		margin-bottom: 87px;
		padding-top: 59px;
	}

	.effect__container {
		display: flex;
	}

	.effect__column {
		order: 1;
		text-align: left;
	}

	.effect__title {
		margin: 37px 0 10px;
		font-family: $opensansbold;
		font-size: 30px;
		line-height: 36px;
		color: #000;
	}

	.effect__desc {
		margin: 0;
		margin-bottom: 10px;
		line-height: 24px;
	}

	.effect__more-info {
		display: block;
		line-height: 26px;
		color: #d22856;
		text-decoration: underline;
	}

	.effect__clock {
		position: relative;
		margin-right: 71px;
		flex-shrink: 0;
		width: 238px;
		height: 276px;

		p {
			position: absolute;
			top: 55%;
			left: 50%;
			margin: 0;
			font-family: $opensansbold;
			font-size: 96px;
			line-height: 150px;
			color: #d22856;
			transform: translate(-50%, -50%);
		}
	}
}

@media (min-width: 960px) {
	.effect {
		margin-bottom: 0;
		padding-top: 32px;
		padding-bottom: 67px;
		background-color: #f2f2f2;
	}

	.effect__container.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}

	.effect__title {
		margin: 94px 0 24px;
		line-height: 30px;
	}

	.effect__br-title {
		display: none;
	}

	.effect__desc {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 30px;
	}

	.effect__more-info {
		font-size: 18px;
		line-height: 30px;
	}

	.effect__clock {
		margin-right: 67px;
		width: 298px;
		height: 345px;

		p {
			font-size: 120px;
			line-height: 187px;
		}
	}
}
