.feedback {
	padding-top: 41px;
}

.feedback__title {
	margin: 0;
	margin-bottom: 32px;
	font-family: $opensanslight;
	font-size: 24px;
}

.feedback__column {
	margin-bottom: 38px;
}

.feedback__text {
	margin: 0;
	font-family: $opensansbold;
	font-size: 18px;
	line-height: 26px;
}

.feedback__link {
	display: block;
	margin-bottom: 19px;
	font-family: $opensanslight;
	font-size: 24px;
	color: #d22856;
}

.feedback__map {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;

	&::before {
		display: block;
		content: "";
		position: absolute;
		z-index: 10;
		width: 100%;
		border-right: 50vw solid transparent;
		border-top: 32px solid #fff;
		border-left: 50vw solid transparent;
	}

	img[width="660"] {
		display: none;
	}

	img[width="2560"] {
		display: none;
	}
}

.feedback__tel {
	margin-bottom: 5px;
}

.feedback__email {
	margin-bottom: 25px;
}

@media (min-width: 660px) {
	.feedback {
		padding-top: 46px;
	}

	.feedback__title {
		margin-bottom: 42px;
		font-size: 40px;
		line-height: 48px;
	}

	.feedback__column {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 9px;
	}

	.feedback__text {
		margin-bottom: 4px;
	}

	.feedback__map {
		height: 373px;

		&::before {
			border-top: 68px solid #fff;
		}

		img[width="320"] {
			display: none;
		}

		img[width="660"] {
			display: block;
			margin: 0 auto;
		}
	}
}

@media (min-width: 960px) {
	.feedback {
		padding-top: 64px;
	}

	.feedback__container.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}

	.feedback__title {
		margin-bottom: 55px;
		font-size: 50px;
		line-height: 60px;
	}

	.feedback__column {
		margin-bottom: 0;
	}

	.feedback__email {
		order: 1;
	}

	.feedback__text {
		margin-bottom: 22px;
	}

	.feedback__map {
		height: 502px;

		&::before {
			border-top: 104px solid #fff;
		}

		img[width="660"] {
			display: none;
		}

		img[width="2560"] {
			display: block;
			margin: 0 auto;
		}
	}
}
