.footer-logo {
	display: inline-block;
	vertical-align: top;

	&:hover .footer-logo__text,
	&:focus .footer-logo__text {
		fill: #d22856;
	}

	&:active .footer-logo__text {
		fill: #283645;
	}

	&:active {
		opacity: .3;
	}
}

.footer-logo__img--desktop {
	display: none;
}

@media (min-width: 960px) {
	.footer-logo__img--tablet {
		display: none;
	}

	.footer-logo__img--desktop {
		display: block;
	}
}
