.nav-list {
	@include ul;
}

.nav-list__item {
	a {
		font-family: $opensansbold;
		font-size: 18px;
		line-height: 32px;
		text-transform: uppercase;
		color: inherit;

		&[href]:hover,
		&[href]:focus {
			color: #d22856;
		}

		&[href]:active {
			color: rgba(#d22856, .3);
		}
	}
}
