.page-footer--index {
	display: none;
}

.page-footer--form {
	padding-top: 55px;
}

.page-footer--photo {
	padding-top: 40px;
}

.page-footer__logo {
	margin-bottom: 30px;
}

.page-footer__social {
	margin-bottom: 39px;
}

.page-footer__copyright {
	margin-bottom: 30px;
}
