.page-header {
	color: #fff;
	background-color: #1d2631;
}

.page-header__bg {
	height: 462px;
	background-image:
		url('../img/iphone-hand-mobile.png'),
		url('../img/bg-back-tablet.jpg');
	background-position: center bottom, center top;
	background-repeat: no-repeat;
	background-size: auto, auto 462px;
	transition: height .25s, background-position .25s;

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background-image:
			url("../img/iphone-hand-mobile@2x.png"),
			url("../img/bg-back-tablet@2x.jpg");
		background-size: 320px auto, auto 462px;
	}
}

.page-header__slogan {
	display: none;
}


// style for page form
.page-header__wrapper-title {
	height: 237px;
	padding-top: 95px;
	color: #fff;
	background-image: url('../img/bg-mobile.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	transition: height .25s, background-position .25s, padding .25s;

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background-image:url('../img/bg-mobile@2x.jpg');
		background-size: auto 237px;
	}
}

.page-header__title {
	margin: 0;
	font-family: $opensanslight;
	font-size: 24px;
	font-weight: 400;
}



@media (min-width: 660px) {
	.page-header__wrapper {
		position: relative;
	}

	.page-header__bg {
		height: 729px;
		background-image:
			url('../img/iphone-hand-tablet.png'),
			url('../img/bg-back-tablet.jpg');
			background-size: auto, auto;

		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image:
				url("../img/iphone-hand-tablet@2x.png"),
				url("../img/bg-back-tablet@2x.jpg");
			background-size: 660px auto, 1200px auto;
		}
	}

	.page-header__slogan {
		display: block;
		width: 250px;
		margin: 0;
		padding-top: 202px;
		padding-left: 30px;
		font-family: $opensanslight;
		font-size: 40px;
		line-height: 50px;
		transition: padding-top .25s;
	}

	.page-header__wrapper-title {
		height: 440px;
		padding-top: 180px;
		background-image: url('../img/bg-tablet.jpg');

		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image:url('../img/bg-tablet@2x.jpg');
			background-size: auto 440px;
		}
	}

	.page-header__title {
		font-size: 50px;
		line-height: 60px;
	}
}


@media (min-width: 960px) {
	.page-header__wrapper {
		position: static;
	}

	.page-header__bg {
		height: 853px;
		background-image:
			url('../img/iphone-hand-desktop.png'),
			url('../img/bg-back-desktop.jpg');

		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image:
				url("../img/iphone-hand-desktop@2x.png"),
				url("../img/bg-back-desktop@2x.jpg");
			background-size: 908px auto, 2560px auto;
		}
	}

	.page-header__slogan {
		padding-top: 222px;
		font-size: 50px;
		line-height: 59px;
	}

	.page-header__wrapper-title {
		height: 394px;
		padding-top: 173px;
		background-image: url('../img/bg-desktop.jpg');

		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image:url('../img/bg-desktop@2x.jpg');
			background-size: auto 394px;
		}
	}

	.page-header__title {
		br:first-child {
			display: none;
		}
	}

	.page-header__title--photo {
		br:first-child {
			display: block;
		}
	}
}
