.page-footer--index {
	display: none;
}

.page-footer--form {
	padding-top: 55px;
}

.page-footer--photo {
	padding-top: 40px;
}

.page-footer__logo {
	margin-bottom: 30px;
}

.page-footer__social {
	margin-bottom: 39px;
}

.page-footer__copyright {
	margin-bottom: 30px;
}

@media (min-width: 660px) {
	.page-footer--index {
		display: block;
	}

	.page-footer__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 127px;
	}

	.page-footer__logo {
		margin-bottom: 5px;
	}

	.page-footer__social {
		margin-top: 1px;
		margin-bottom: 0;
	}

	.page-footer__copyright {
		margin-top: 17px;
		margin-bottom: 0;
	}
}

@media (min-width: 960px) {
	.page-footer__container.container {
		padding: 0 10px;
	}

	.page-footer__container {
		height: 197px;
	}
}
