.page-footer {
	display: none;
}

.page-footer--form {
	display: block;
	padding-top: 55px;
}

.page-footer__logo {
	margin-bottom: 30px;
}

.page-footer__social {
	margin-bottom: 39px;
}

.page-footer__copyright {
	margin-bottom: 30px;
}
