.photos__wrapper-title {
	min-height: 237px;
	padding-top: 95px;
	color: #fff;
	background: #2a3a4a url('../img/bg-back-mobile@1x.jpg') center top no-repeat;
}

.photos__title {
	margin: 0;
	font-family: $opensanslight;
	font-size: 24px;
	font-weight: 400;
}

.photos__desc {
	margin: 45px 15px 49px;
}

.photos__article {
	margin-bottom: 20px;
}

