.price {
	padding: 126px 0 40px;
	background: #f2f2f2 url('../img/bg-triangle-white.svg') center top no-repeat;
}

.price__list {
	display: none;
	border-collapse: collapse;
	overflow: hidden;
	margin-bottom: 34px;
}

.price__caption {
	position: relative;
	width: 660px;
	padding: 16px 0 20px;
	color: #fff;
	background-color: #283645;
	border-left: 2px solid #e5e5e5;
}

.price__tariff {
	margin: 0;
	margin-bottom: 2px;
	font-family: $opensansbold;
	font-size: 18px;
	text-transform: uppercase;
}

.price__value {
	margin: 0;
	font-family: $opensanslight;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.price__hit {
	position: absolute;
	top: 10px;
	left: -27px;
	min-width: 104px;
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #d22856;
	transform: rotate(-45deg);
}

.price__row {
	display: flex;
	justify-content: space-between;
	padding: 15px 18px 14px 21px;
	text-transform: uppercase;
	border-left: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background-color: #fff;

	p {
		margin: 0;
	}
}

@media (min-width: 660px) {
	.price {
		margin-top: -6px;
		padding:  109px 0 34px;
	}

	.price__slider {
		display: none;
	}

	.price__list {
		display: table;
		width: 100%;
		margin-bottom: 33px;
		border-radius: 5px;
	}

	.price__caption {
		position: relative;
		width: 25%;
		padding: 15px 0 9px;
		border-left: none;
		border-right: 2px solid #e5e5e5;
		outline: 1.5px solid #e5e5e5;//--
		// чтобы было выдно боковые границы между заголовочными ячейками
		border-bottom: 2px solid #283645;
		overflow: hidden;

		&:last-child {
			border-right-color: #283645;
		}
	}

	.price__caption--empty {
		border: none;
		background-color: transparent;
		outline: none;
	}

	.price__tariff {
		margin-bottom: 0;
		font-size: 16px;
		line-height: 24px;
	}

	.price__value {
		font-size: 18px;
	}

	.price__hit {
		top: 5px;
		left: -32px;
		line-height: 28px;
	}

	.price__field {
		height: 47px;
		padding: 10px 10px 6px 15px;
		line-height: 14px;
		border: 2px solid #e5e5e5;
		background-color: #fff;
	}

	.price__field--title {
		text-align: left;
	}
}

@media (min-width: 960px) {
	.price {
		margin-top: 6px;
		padding:  156px 0 63px;
	}

	.price__container.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}

	.price__caption {
		padding: 20px 0 20px;
	}

	.price__tariff {
		margin-bottom: 4px;
		font-size: 18px;
	}

	.price__value {
		font-size: 24px;
	}

	.price__hit {
		top: 12px;
		left: -26px;
		line-height: 30px;
	}

	.price__field {
		height: 60px;
		padding: 10px 20px 6px 20px;
		line-height: 18px;
	}

	.price__field--title {
		font-size: 18px;
	}
}
