.reviews {
	padding-top: 42px;
}

.reviews__item {
	margin: 0;
}

.reviews__author-name {
	display: block;
	margin-bottom: 14px;
	font-family: $opensansbold;
	font-style: normal;
	font-size: 18px;
	color: #000;
}

.reviews__author-info {
	display: none;
}

.reviews__text {
	margin: 0;
	margin-bottom: 26px;
}

@media (min-width: 660px) {
	.reviews {
		padding-top: 12px;
	}

	.reviews__list .reviews__item {
		//чтобы перекрыть .slick-initialized .slick-slide
		display: flex;
		flex-direction: column;
	}

	.reviews__author-name {
		margin-bottom: 2px;
		font-size: 20px;
	}

	.reviews__author-info {
		display: block;
		margin: 0;
		margin-bottom: 27px;
	}

	.reviews__text {
		order: -1;
		margin-bottom: 35px;
		font-size: 18px;
	}
}

@media (min-width: 960px) {
	.reviews {
		padding-top: 71px;

		&::before {
			content: '';
			display: block;
			margin: 0 auto 51px;
			width: 79px;
			height: 63px;
			background: url('../img/quotes.svg') center top no-repeat;
		}
	}

	.reviews__container.container {
		padding: 0 20px;
	}

	.reviews__author-name {
		font-size: 24px;
	}

	.reviews__author-info {
		font-size: 18px;
	}

	.reviews__text {
		width: 790px;
		font-size: 18px;
		margin: 0 auto 36px;
	}
}
