.story__desc {
	margin: 45px 0 34px;

	span {
		display: none;
	}
}

.story__container:nth-of-type(even) {
	background-color: #f2f2f2;
}

.story__form-container {
	padding: 0;
}

.story__field {
	border: none;
	margin: 0;
	padding: 0;
}

.story__legend {
	line-height: 18px;
	text-transform: uppercase;
	color: #d22856;
}

.story__list {
	@include ul;
}

.story__field--name {
	margin-bottom: 25px;

	.story__item {
		margin-bottom: 17px;
	}

	label {
		display: block;
		padding-left: 23px;
		padding-bottom: 5px;
		text-align: left;
		text-transform: uppercase;
		color: #d22856;
		cursor: pointer;
	}

	input {
		display: block;
		width: 100%;
		padding: 17px 21px 18px;
		font-family: inherit;
		font-size: 18px;
		color: inherit;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
	}

	input:hover {
		border-color: #283645;
	}

	input:focus {
		outline: none;
		border-color: #d22856;
	}

	input::placeholder {
		color: inherit;
	}
}

.story__field--achievement {

	.story__legend {
		margin-bottom: 43px;
		padding-top: 38px;
	}

	.story__item {
		margin-bottom: 52px;
	}

	.story__item:last-child {
		margin-bottom: 47px;
	}

	label {
		position: relative;
		display: block;
		padding-left: 70px;
		font-size: 18px;
		text-align: left;
		cursor: pointer;
	}

	input + label::before {
		content: "";
		position: absolute;
		top: -4px;
		left: 0;
		width: 39px;
		height: 39px;
		background-color: #fff;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
	}

	input:checked + label::after {
		content: "";
		position: absolute;
		top: 7px;
		left: 9px;
		width: 22px;
		height: 16px;
		background: url(../img/icon-check.svg) no-repeat;
	}

	label:hover::before,
	input:focus + label::before {
		border-color: #d22856;
	}

	label:active::before {
		border-color: #283645;
	}
}

.story__field--contacts {
	padding: 32px 0 25px;

	.story__legend {
		display: none;
	}

	.story__item {
		margin-bottom: 17px;
	}

	label {
		display: block;
		margin-bottom: 5px;
		padding-left: 23px;
		text-align: left;
		text-transform: uppercase;
		color: #d22856;
		cursor: pointer;
	}

	input {
		display: block;
		width: 100%;
		padding: 17px 21px 18px;
		font-family: inherit;
		font-size: 18px;
		color: inherit;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
	}

	input:hover {
		border-color: #283645;
	}

	input:focus {
		outline: none;
		border-color: #d22856;
	}

	input::placeholder {
		color: inherit;
	}
}

.story__field--OS {
	padding-bottom: 2px;

	.story__legend {
		padding-top: 38px;
		margin-bottom: 39px;
	}

	.story__item {
		margin-bottom: 45px;
	}

	label {
		position: relative;
		display: block;
		padding-left: 70px;
		font-size: 18px;
		text-align: left;
		cursor: pointer;
	}

	input + label::before {
		content: "";
		position: absolute;
		top: -4px;
		left: 0;
		width: 39px;
		height: 39px;
		background-color: #fff;
		border: 2px solid #e5e5e5;
		border-radius: 50%;
	}

	input:checked + label::after {
		content: "";
		position: absolute;
		top: 8px;
		left: 12px;
		width: 15px;
		height: 15px;
		background-color: #d22856;
		border-radius: 50%;
	}

	label:hover::before,
	input:focus + label::before {
		border-color: #d22856;
	}

	label:active::before {
		border-color: #283645;
	}
}

.story__field--emotions {

	.story__legend {
		padding-top: 38px;
		margin-bottom: 16px;
	}

	textarea {
		display: block;
		min-width: 100%;
		max-width: 280px;
		min-height: 201px;
		margin-bottom: 48px;
		padding: 17px 19px;
		font-family: inherit;
		font-size: 18px;
		color: inherit;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
	}

	textarea:hover {
		border-color: #283645;
	}

	textarea:focus {
		outline: none;
		border-color: #d22856;
	}

	textarea::placeholder {
		color: inherit;
	}
}

.story__btn {
	margin-bottom: 35px;
}

.story__note {
	font-size: inherit;
	text-transform: uppercase;

	sup {
		vertical-align: top;
		font-size: inherit;
		color: #d22856;
	}

	span {
		display: none;
	}
}

@media (min-width: 660px) {
	.story__form {
		display: flex;
		flex-direction: column;
	}

	.story__container--OS {
		order: 1;
	}

	.story__container--contacts {
		order: 2;
	}

	.story__container--achievement {
		order: 3;
	}

	.story__container--emotions {
		order: 4;
	}

	.story__submit {
		order: 5;
	}

	.story__container.container {
		background-color: #fff;
	}

	.story__desc {
		margin: 92px 40px 71px;
		font-size: 18px;
		span {
			display: block;
		}
	}

	.story__field {
		border-radius: 3px;
	}

	.story__field--name {
		margin-bottom: 6px;

		.story__item {
			display: flex;
			align-items: center;
			margin-bottom: 52px;
		}

		label {
			margin-right: 20px;
			padding: 0;
		}
	}

	.story__field--OS {
		margin-bottom: 57px;
		padding: 0 58px 14px;
		border: 2px solid #e5e5e5;

		.story__legend {
			padding: 0 25px;
			margin-bottom: 48px;

			br {
				display: none;
			}
		}

		.story__item {
			margin-bottom: 45px;
		}

		label {
			padding-left: 60px;
		}
	}

	.story__field--contacts {
		margin-bottom: 57px;
		padding: 0 58px;
		border: 2px solid #e5e5e5;

		.story__legend {
			display: block;
			padding: 0 32px;
			margin-bottom: 37px;
		}

		.story__item {
			display: flex;
			flex-direction: column;
		}

		.story__item:last-child {
			margin-bottom: 14px;
		}

		label {
			order: 1;
			margin-bottom: 12px;
		}

		input {
			margin-bottom: 10px;
			background-repeat: no-repeat;
		}

		input[name="user-phone"] {
			background-image:
				url('../img/icon-phone.svg'),
				linear-gradient(to left, #e5e5e5 60px, #fff 60px);
			background-position: right 20px center, center;
		}

		input[name="user-email"] {
			background-image:
				url('../img/icon-mail.svg'),
				linear-gradient(to left, #e5e5e5 60px, #fff 60px);
			background-position: right 21px center, center;
		}
	}

	.story__field--achievement {
		margin-bottom: 57px;
		padding: 0 58px 6px;
		border: 2px solid #e5e5e5;

		.story__legend {
			margin-bottom: 48px;
			padding: 0 32px;

			br {
				display: none;
			}
		}

		label {
			padding-left: 60px;
		}
	}

	.story__field--emotions {
		margin-bottom: 67px;
		padding: 0 58px;
		border: 2px solid #e5e5e5;

		.story__legend {
			padding: 0 36px;
			margin-bottom: 37px;
		}

		textarea {
			min-height: 193px;
			margin-bottom: 51px;
		}
	}

	.story__submit {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.story__btn {
		width: 300px;
	}
}

@media (min-width: 960px) {
	.story__desc {
		margin: 92px 70px 71px;

		span {
			display: inline;
		}
	}

	.story__form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.story__container {
		margin: 0;
	}

	.story__container--name {
		width: 47.5%;
	}

	.story__container--OS {
		width: 47.5%;
	}

	.story__field--name {
		margin-top: 13px;
		margin-bottom: 0;

		.story__item {
			margin-bottom: 53px;
		}
	}

	.story__field--OS {
		padding: 0 75px 16px;

		.story__legend {
			margin: 0 -45px 50px;
		}

		.story__item {
			margin-bottom: 44px;
		}
	}

	.story__field--contacts {
		margin-bottom: 56px;

		.story__legend {
			margin-bottom: 34px;
		}

		.story__list {
			display: flex;
			justify-content: space-between;
		}
		.story__item {
			width: 375px;
			margin-bottom: 0;
		}

		label {
			margin-bottom: 0;
		}
	}

	.story__field--achievement {
		padding: 0 0 8px 58px;

		.story__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.story__item {
			width: calc(100%/3);
		}

		.story__item:nth-child(1) {
			order: -3;
		}

		.story__item:nth-child(3) {
			order: -2;
		}

		.story__item:nth-child(5) {
			order: -1;
		}
	}

	.story__field--emotions {
		margin-bottom: 65px;

		.story__legend {
			padding: 0 38px;
			margin-bottom: 34px;
		}

		textarea {
			min-height: 128px;
			margin-bottom: 43px;
		}
	}

	.story__note {

		span {
			display: inline;
		}
	}
}
