.upload__desc {
	margin: 43px 0 42px;
}

.upload__form {
	padding-top: 20px;
	background-color: #f2f2f2;
}

// для tablet
.upload__filter-wrapper {
	display: none;
}

.upload__photo {
	display: block;
	margin-bottom: 40px;

	img {
		display: block;
		margin: 0 auto;
	}
}

.upload__filter-list {
	@include ul;
	display: flex;
	align-items: center;
	margin-bottom: 27px;
}

.upload__filter-item:first-child,
.upload__filter-item:last-child {
	margin: 0 auto;
}

.upload__filter-btn {
	padding: 0;
	background-color: transparent;
	border: none;

	&:focus {
		outline: none;
	}

	&:focus .upload__filter-img {
		fill: rgba(#283645, .5);
	}
}

.upload__filter-img {
	fill: rgba(#283645, .3);
	cursor: pointer;

	&:hover {
		fill: rgba(#283645, .5);
	}
}

.upload__filter-btn--active {

	.upload__filter-img {
		fill: #d22856;
	}
}

.upload__range-list {
	@include ul;
	margin: 0 20px 34px;
}

.upload__range-item {
	position: relative;
	width: 100%;
	margin: 0 auto 20px;
}

.upload__range-scale {
	height: 2px;
	background-color: #283645;
}

.upload__range-toggle {
	position: absolute;
	top: -6px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 2px solid #d22856;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: background-color .2s;

	&:hover,
	&:focus {
		background-color: #d22856;
	}
}

.upload__range-item--crop {

	.upload__range-toggle {
		left: 10%;
	}
}

.upload__range-item--fill {

	.upload__range-toggle {
		left: 50%;
	}
}

.upload__range-item--contrast {

	.upload__range-toggle {
		left: 90%;
	}
}

.upload__line {
	width: 100%;
	height: 1px;
	background-color: rgba(#283645, .1);
}

.upload__buttons {
	padding: 38px 0 29px;
}

.upload__btn {
	display: inline-block;
	margin-bottom: 12px;
	width: 100%;
	padding: 14px 0 17px;
	vertical-align: top;
	text-align: center;
	font-family: $opensansbold;
	font-size: 18px;
	line-height: 18px;
	border: 3px solid #d22856;
	border-radius: 28px;
	background-color: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.upload__btn--submit {
	color: #d22856;

	&:hover,
	&:focus {
		color: #fff;
		background-color: #d22856;
	}

	&:active {
		color: rgba(#fff, .3);
	}
}

.upload__btn--reset {
	color: rgba(#283645, .1);
	border-color: rgba(#283645, .1);

	&:hover,
	&:focus {
		color: rgba(#283645, .3);
		border-color: rgba(#283645, .3);
	}

	&:active {
		color: rgba(#fff, .3);
		border-color: transparent;
		background-color: rgba(#283645, .3);
	}
}


@media (min-width: 660px) {
	.upload__desc {
		margin: 69px 0;
		font-size: 18px;
	}

	.upload__form {
		padding-top: 57px;
	}

	.upload__form .container {
		display: flex;
		justify-content: center;
		padding-bottom: 54px;
	}

	.upload__photo {
		margin-right: 47px;
		margin-bottom: 0;
	}

	.upload__filter-list,
	.upload__range-list,
	.upload__line,
	.upload__buttons {
		display: none;
	}

	.upload__filter-wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: 275px;
	}

	.upload__filter-full {
		@include ul;
		margin-top: -16px;
	}

	.upload__filter-item {
		display: flex;
		justify-content: space-around;
		height: 72px;
		align-items: center;
		border-bottom: 1px solid rgba(#283645, .1);
	}

	.upload__range-scale {
		position: relative;
		width: 202px;
	}

	.upload__range-toggle {
		&:hover {
			transform: scale(1.2);
		}
	}

	.upload__filter-item--crop .upload__range-toggle {
		left: 75%;
	}

	.upload__filter-item--fill .upload__range-toggle {
		left: 15%;
	}

	.upload__filter-item--contrast .upload__range-toggle {
		left: 50%;
	}

	.upload__filter-wrapper .upload__buttons {
		display: block;
		width: 260px;
		margin-top: auto;
		padding-bottom: 0;
	}

	.upload__btn {
		margin-bottom: 0;
	}

	.upload__btn--submit {
		margin-bottom: 24px;
	}
}

@media (min-width: 960px) {
	.upload__desc {
		margin: 28px 0 66px;
	}

	.upload__form .container {
		padding: 0 0 57px 20px;
		margin-bottom: 28px;
	}

	.upload__photo {
		margin-right: 90px;
	}

	.upload__filter-wrapper {
		max-width: 410px;
	}

	.upload__filter-item--crop svg {
		width: 44px;
		height: 44px;
	}

	.upload__filter-item--fill svg {
		width: 48px;
		height: 44px;
	}

	.upload__filter-item--contrast svg {
		width: 32px;
		height: 32px;
	}

	.upload__range-scale {
		width: 288px;
	}

	.upload__filter-wrapper .upload__buttons {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	.upload__btn {
		width: 183px;
		margin-bottom: 0;
	}
}
