// переменные
$opensans: "Open Sans", "Tahoma", sans-serif;
$opensanslight: "Open Sans Light", "Tahoma", sans-serif;
$opensansbold: "Open Sans Bold", "Tahoma", sans-serif;

// миксины
@mixin ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@import "font-face.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/nav-list.scss";
@import "blocks/download.scss";
@import "blocks/download-desktop-link.scss";
@import "blocks/advantages.scss";

// общие стили
body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: $opensans;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	color: #283645;
	background-color: #fff;
	width: 320px;
}

.container {
	width: 100%;
	padding: 0 20px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

